{% extends "base.html" %}

{% block content %}
<h1 class="mb-4">Tambah Barang Baru</h1>
<form method="POST" enctype="multipart/form-data" action="{{ url_for('form.add_product') }}">
    <div class="mb-3">
        <label for="name" class="form-label">Nama</label>
        <input type="text" class="form-control" id="name" name="name" required>
    </div>
    <div class="mb-3">
        <label for="quantity" class="form-label">Jumlah</label>
        <input type="number" class="form-control" id="quantity" name="quantity" required>
    </div>
    <div class="mb-3">
        <label for="category" class="form-label">Kategori</label>
        <input type="text" class="form-control" id="category" name="category" required>
    </div>
    <div class="mb-3">
        <label for="sell_price" class="form-label">Harga Jual</label>
        <input type="number" class="form-control" id="sell_price" name="sell_price" required>
    </div>
    <div class="mb-3">
        <label for="buy_price" class="form-label">Harga Beli</label>
        <input type="number" class="form-control" id="buy_price" name="buy_price" required>
    </div>
    <div class="mb-3">
        <label for="entry_date" class="form-label">Waktu Penambahan</label>
        <input type="datetime-local" class="form-control" id="entry_date" name="entry_date" required>
    </div>
    <div class="mb-3">
        <label for="sales_receipt" class="form-label">Struk Pembelian</label>
        <input type="file" class="form-control" id="sales_receipt" name="sales_receipt">
    </div>
    <button type="submit" class="btn btn-primary">Tambah Barang</button>
</form>
<a href="{{ url_for('main.products') }}" class="btn btn-secondary mt-3">Kembali ke Daftar Barang</a>
{% endblock %}