{% extends "base.html" %}

{% block content %}
<h1 class="mb-4">Selamat Datang di Aplikasi Inventaris</h1>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Kasir</h5>
                <p class="card-text">Hanya dapat mengurangi jumlah barang.</p>
                <a href="{{ url_for('auth.login', role='Cashier') }}" class="btn btn-primary">Masuk sebagai Kasir</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Admin Gudang</h5>
                <p class="card-text">Dapat menambah dan mengurangi jumlah barang.</p>
                <a href="{{ url_for('auth.login', role='Admin Gudang') }}" class="btn btn-primary">Masuk sebagai Admin Gudang</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Super Admin</h5>
                <p class="card-text">Memiliki akses penuh (edit dan hapus barang).</p>
                <a href="{{ url_for('auth.login', role='Super Admin') }}" class="btn btn-primary">Masuk sebagai Super Admin</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}